{% macro media_atom(atom, context) %}
  {{ scald_render(atom.value, context)|raw }}
{% endmacro %}

{%macro file_atom(atom, context) %}
{{scald_render(atom.value, context)|raw}}
{% endmacro %}

{%macro media_atoms_layout(atoms_layout) %}
  {% for layout in atoms_layout %}
    {% if layout.type == 'atom' %}
      {{ _self.media_atom(layout.data, layout.context) }}
    {% elseif layout.type == '2_col' %}
      <div class="row content-section-media-layout-2-col">
        {% for atom in layout.data %}
          <div class="content-section-media-atom col-xs-12 col-sm-6">
           {{ _self.media_atom(atom, layout.context) }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro content_sections(sections, namespace) %}
  <div class="content-sections">
  {% if not sections.value is empty %}
    {% for section in sections %}
      {% set atoms_layout = ubn_scald_media_atoms_layout(section.field_media_atoms, section.field_media_context.value, section.field_media_layout.value) %}
      {% set context = 'page_content' %}
      {% if not section.field_media_atoms.value is empty %}
      <div class="content-section-media">
        {{ _self.media_atoms_layout(atoms_layout) }}
      </div>
      {% endif %}
      {% if section.field_title.value or section.field_body.value %}
        <section class="content-sections-section">
         {% if section.field_title.value %}<h2 class="content-sections-section-title">{{ section.field_title.value }}</h2>{% endif %}
         {% if section.field_body.value %}<div class="content-sections-section-body">{{ section.field_body.value|raw }}</div>{% endif %}
        </section>
      {% endif %}
      {% if not section.field_file_atoms.value is empty %}
        <ul class="list-unstyled content-sections-section-attached-files">
          {% for atom in section.field_file_atoms %}
            <li>{{ _self.file_atom(atom, 'page_content_attachments') }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if not section.field_contact_instances is empty %}
        <ul class="list-unstyled content-sections-section-contacts">
        {% for contact_instance in section.field_contact_instances %}
          {% set contact = contact_instance.field_referenced_contact %}
          {% set contact_id = drupal_html_id('contactcard') %}
            {% if not contact is empty %}
              <li class="content-sections-section-contacts-contact ubn-collapse">
                {# Default always runs? #}
                <div class="content-sections-section-contacts-contact-head ubn-collapse-head collapsed row" data-target="#{{ contact_id }}" data-toggle="collapse" aria-expanded="false">
                  <div class="col-xs-12">
                    <h2 class="small"><i class="fa fa-comment"></i> {{ contact_instance.field_title.value|default(t('Contact @contact', {'@contact': contact.title_field.value})) }}</h2>
                    <a class="ubn-collapse-head-toggle-btn collapsed" role="button" data-toggle="collapse" href="#{{ contact_id }}" aria-expanded="false">
                    <i class="fa fa-plus"></i>
                    </a>
                  </div>
                </div>
                {% set form_instance = contact.field_issue_form_instance %}
                {% set form_enabled =
                  (not form_instance is empty) and
                  form_instance.field_form_access.value
                %}
                <div id="{{ contact_id }}" class="collapse ubn-collapse-body content-sections-section-contacts-contact-form">
                  <div class="ubn-collapse-body-inner-wrapper">
                    {% if not contact.field_description is empty %}
                    <div class="contact-body">
                        {{contact.field_description.value | raw}}
                    </div>
                    {% endif %}
                    {% if form_enabled and contact.field_description %}
                      <hr>
                    {% endif %}
                    {% if form_enabled %}
                      {{ slate_is_cacheable(FALSE) }}
                      {{ ubn_form_instance_render(form_instance, 'issue')|raw }}
                    {% endif %}
                  </div><!-- end ubn-collapse-body-inner-wrapper -->
                </div>
              </li>
            {% endif %}
        {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  {% endif %}
  </div>
{% endmacro %}

{% macro content_header(title, preamble) %}
  <h1 class="title">{{ title }}</h1>
  {% if preamble %}
    <p class="field preamble">{{ preamble }}</p>
  {% endif %}
{% endmacro %}

{% macro link(text, url, class) %}
  {% set url = url(url, { 'absolute' : true }) %}
  <a{%if not class is empty %} class="{{ class }}"{% endif %} href="{{ url }}">{{ text }}</a>
{% endmacro %}
