{% macro media_atom(atom, context) %}
  {{ scald_render(atom.value, context)|raw }}
{% endmacro %}

{%macro file_atom(atom, context) %}
  {{ scald_render(atom.value, context)|raw }}
{% endmacro %}

{%macro media_atoms_layout(atoms_layout) %}
  {% for layout in atoms_layout %}
    {% if layout.type == 'atom' %}
      {{ _self.media_atom(layout.data, layout.context) }}
    {% elseif layout.type == '2_col' %}
      <div class="row content-section-media-layout-2-col">
        {% for atom in layout.data %}
          <div class="content-section-media-atom col-xs-12 col-sm-6">
           {{ _self.media_atom(atom, layout.context) }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro content_sections(sections, namespace) %}
  {% import 'contact-list.html.twig' as contacts %}
  <div class="content-sections">
  {% if not sections.value is empty %}
    {% for section in sections %}
      {% set atoms_layout = ubn_scald_media_atoms_layout(section.field_media_atoms, section.field_media_context.value, section.field_media_layout.value) %}
      {% set context = 'page_content' %}
      {% if not section.field_media_atoms.value is empty %}
      <div class="content-section-media">
        {{ _self.media_atoms_layout(atoms_layout) }}
      </div>
      {% endif %}
      {% if not section.field_referenced_term is empty %}
        {% set term = section.field_referenced_term %}
        <section id="content-section-term-{{ drupal_strtolower(drupal_clean_css_identifier(term.name.value)) }}" class="content-section-term panel-separator">
          <div>
             <h2 class="small content-section-term-title"><i class="fa fa-info-circle"></i>{{t("In brief")}}:&nbsp;{{ term.name.value }}</h2>
              <div class="content-section-term-description">{{ term.description.value|raw }}</div>
          </div>
        </section>
      {% endif %}
      {% if section.field_title.value or section.field_body.value %}
        <section class="content-sections-section">
         {% if section.field_title.value %}<h2 class="content-sections-section-title">{{ section.field_title.value }}</h2>{% endif %}
         {% if section.field_body.value %}<div class="content-sections-section-body">{{ section.field_body.value|raw }}</div>{% endif %}
        </section>
      {% endif %}
      {% if not section.field_file_atoms.value is empty %}
        <ul class="list-unstyled content-sections-section-attached-files">
          {% for atom in section.field_file_atoms %}
            <li>{{ _self.file_atom(atom, 'page_content_attachments') }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if not section.field_contact_instances is empty %}
        {{  contacts.contact_list(section.field_contact_instances) }}
      {% endif %}
    {% endfor %}
  {% endif %}
  </div>
{% endmacro %}

{% macro content_header(title, preamble) %}
  <h1 class="title">{{ title }}</h1>
  {% if preamble %}
    <p class="field preamble">{{ preamble }}</p>
  {% endif %}
{% endmacro %}

{% macro link(text, url, class, options) %}
  {% set url = url(url, { 'absolute' : true }|merge(options|default([]))) %}
  <a{%if not class is empty %} class="{{ class }}"{% endif %} href="{{ url }}">{{ text }}</a>
{% endmacro %}
