{% macro get_link_list(title, list, extended = false) %}
  {% import "macros/misc.html.twig" as misc %}
  {% if extended %}
    <div class="ubn-panel-links extended">
  {% else %}
    <div class="ubn-panel-links">
  {% endif %}
    <div class="ubn-panel-links-head">
      <div class="ubn-panel-links-head-title">
        {% if not title is empty %}
          {% if extended %}
            <h2 class="list primary">{{title}}</h2>
          {% else %}
            <h2 class="h1 small no-top-margin">{{title}}</h2>
          {% endif %}
        {% endif %}
      </div>
      <div class="ubn-panel-links-indicator">
        <i class="fa fa-arrow-right pull-right"></i>
      </div>
    </div>
    <div class="ubn-panel-links-body">
      <ul class="list-unstyled">
        {% if not list is empty %}
          {% for link in list %}
            {% if link.field_type_to_use.value == "link" %}
              <li><i class="fa fa-chevron-right"></i><div class="ubn-panel-links-body-link"><a href=" {{url(link.field_link.value.url)}} ">{{link.field_link.value.title}}</a></div></li>
            {% elseif link.field_type_to_use.value == "file" %}
              <li><i class="fa fa-chevron-right"></i><div class="ubn-panel-links-body-link">{{misc.file_atom(link.field_file,'page_navigation_landing_shortcut')|raw }}</div></li>
            {% endif %}
          {% endfor %}
        {% endif %}
      </ul>
    </div>
  </div>
{% endmacro %}