{% macro link_list(title, list, extended = false, namespace) %}
  {% set namespace = namespace|default('ubn-panel-links') %}
  {% import "macros/misc.html.twig" as misc %}
  {% if extended %}
    <div class="{{ namespace }} extended">
  {% else %}
    <div class="{{ namespace }}">
  {% endif %}
    <span class="ubn-panel-links-border-left"></span>
    <div class="{{ namespace }}-head">
      <div class="{{ namespace }}-head-title">
        {% if not title is empty %}
          {% if extended %}
            <h2 class="list primary">{{title}}</h2>
          {% else %}
            <h2 class="h1 small no-top-margin">{{title}}</h2>
          {% endif %}
        {% endif %}
      </div>
      <div class="{{ namespace }}-indicator">
        <i class="fa fa-arrow-right pull-right"></i>
      </div>
    </div>
    <div class="{{ namespace }}-body">
      {{ _self.link_list_links(list, namespace) }}
    </div>
  </div>
{% endmacro %}

{% macro link_list_links(list, namespace) %}
  {% set namespace = namespace|default('ubn-panel-links') %}
  {% if not list is empty %}
    <ul class="list-unstyled {{ namespace }}-link-list ubn-panel-links-link-list">
    {% for link in list %}
      {% set type = link.field_type_to_use.value %}
      {% if type == 'link' %}
        <li><i class="fa fa-chevron-right"></i><div class="{{ namespace }}-body-link ubn-panel-links-body-link"><a href=" {{url(link.field_link.value.url)}} ">{{link.field_link.value.title}}</a></div></li>
      {% elseif type == 'file' %}
        <li><i class="fa fa-chevron-right"></i><div class="{{ namespace }}-body-link ubn-panel-links-body-link">{{ misc.file_atom(link.field_file, 'page_navigation_landing_shortcut')|raw }}</div></li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
