{% macro link_list(title, list, namespace, options) %}
  {% set options = { 'promoted': false, 'hide_icon': false, 'min_height': false, 'header_level': 2 }|merge(options|default({})) %}
  {{ _self.pane_begin(namespace, options) }}
    {{ _self.pane_head_begin(namespace) }}
      {{ _self.pane_head_title(title, namespace, options) }}
    {{ _self.pane_head_end() }}
    {{ _self.pane_body_begin(namespace) }}
      {{ _self.link_list_links(list, namespace, options) }}
    {{ _self.pane_body_end() }}
  {{ _self.pane_end(options) }}
{% endmacro %}

{% macro pane_begin(namespace, options) %}
  {% set options = { 'promoted': false, 'min_height': false }|merge(options|default({})) %}
  <div class="{{ ubn_namespace_classes('ubn-panel-links', namespace) }}{% if options.promoted %} promoted{% endif %}{% if options.min_height %} min-height{% endif %}">
    {% if options.promoted %}
      <div class="{{ ubn_namespace_classes('ubn-panel-links', namespace, 'inner-wrapper') }}">
    {% endif %}
{% endmacro %}

{% macro pane_end(options) %}
  {% set options = { 'promoted': false }|merge(options|default({})) %}
  {% if options.promoted %}
    </div>
  {% endif %}
  </div>
{% endmacro %}

{% macro pane_head_begin(namespace) %}
  <div class="{{ ubn_namespace_classes('ubn-panel-links', namespace, 'head') }}">
    <div class="{{ ubn_namespace_classes('ubn-panel-links', namespace, 'head-title') }}">
{% endmacro %}

{% macro pane_head_end() %}
    </div>
  </div>
{% endmacro %}

{% macro pane_head_title(title, namespace, options) %}
  {% set options = { 'header_level': 2 }|merge(options|default({})) %}
  {% if not title is empty %}
    <h{{ options.header_level }} class="small header-list no-top-margin">{{ title|raw }}</h2>
  {% endif %}
{% endmacro %}

{% macro pane_body_begin(namespace) %}
  <div class="{{ ubn_namespace_classes('ubn-panel-links', namespace, 'body') }}">
{% endmacro %}

{% macro pane_body_end() %}
  </div>
{% endmacro %}

{% macro link_list_links(list, namespace, options) %}
  {% import "macros/misc.html.twig" as misc %}
  {% set options = { 'hide_icon': false }|merge(options|default({})) %}

  {% if not list is empty %}
    <ul class="list-unstyled {{ ubn_namespace_classes('ubn-panel-links', namespace, 'link-list') }}">
    {% for link in list %}
      {{ _self.link_list_links_item_begin(namespace, options) }}
        {% if is_array(link) %}
            <a href="{{ url(link.url) }}">{{ link.title }}</a> 
        {% else %}
          {% set link_bundle = link.getBundle %}
          {% if link_bundle == 'field_theme_link' %}
            <a href="{{ url(link.field_link_to_theme.value.url) }}">{{ link.field_link_to_theme.value.title }}</a>
          {% elseif link_bundle == 'field_shortcut_links' %}
            {% set type = link.field_type_to_use.value %}
            {% if type == 'link' %}
              <a href="{{ url(link.field_link.value.url) }}">{{ link.field_link.value.title }}</a>
            {% elseif type == 'file' %}
              {{ misc.file_atom(link.field_file, 'page_navigation_landing_shortcut')|raw }}
            {% endif %}
          {% endif %}
        {% endif %}
      {{ _self.link_list_links_item_end() }}
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro link_list_links_item_begin(namespace, options) %}
  {% set options = { 'hide_icon' : false }|merge(options|default({})) %}
  <li>
    {% if not options.hide_icon %}<i class="fa fa-chevron-right" aria-hidden="true"></i>{% endif %}
    <div class="{{ ubn_namespace_classes('ubn-panel-links', namespace, 'body-link') }}{% if not options.hide_icon %} icon{% endif %}">
{% endmacro %}

{% macro link_list_links_item_end() %}
    </div>
  </li>
{% endmacro %}
