{# slate
  name = Dictionary: Term List
  models[list] = item
#}


<div id="az" class="a-z">
    <ul class="menu">
        {% for key, terms in list  %}
            {% if (terms is empty) %}
                <li><a class="disabled">{{ key }}</a></li>
            {% else %}
                <li><a href="#{{ ubn_dictionary_get_html_id(key) }}">{{ key }}</a></li>
            {% endif %}
        {% endfor %}
     </ul>
     <ul class="alphabetic-list">
        {% for key, terms in list if terms is not empty %}
            <li>
                <h2 class="alphabetic-heading" id="{{ ubn_dictionary_get_html_id(key) }}">{{ key }}</h2>
                <ul class="alphabetic-letter-terms">
                    {% for term in terms %}
                        <li>
                            <h3 id="{{ ubn_dictionary_get_html_id(term.label) }}">{{ term.label }}</h3>
                            {% if term.primary %}
                                {{ view_mode(term.entity, 'primary') | raw }}
                            {% else %}
                                {{ view_mode(term.entity, 'secondary') | raw }}
                            {% endif %}
                        </li>
                    {% endfor %}
                     <a class="back-to-top" href="#header">{{t('Tillbaka till A-Ö')}}</a>
                </ul>

            </li>
           
        {% endfor %}
    </ul>
   
</div>