{# slate
  name = Guide: Navigation
  models[prev] = item
  models[next] = item
#}

<div class="guide">
	<nav class="guide-content-pager">
		{% if prev %}
		    <div class="guide-content-pager-previous"><a href="{{ prev.url }}"></a></div>
		{% else %}
			<div class="guide-content-pager-previous"><a class="disabled" href="{{ prev.url }}"></a></div>
		{% endif %}

		{% if next %}
		    <div class="guide-content-pager-next">
		    	<a href="{{ next.url }}">{{t('Next')}}</a>
		    </div>
		{% else %}
		    <div class="guide-content-pager-next">
		    	<a  class="disabled" href="{{ next.url }}">{{t('Next')}}</a>
		    </div>
		{% endif %}
	</nav>
</div>