{# slate
  name = Library: View mode 'Full content'
  models[library] = entity:node
  view_mode[node][library] = full
#}
{% import "images.html.twig" as images %}


<div class="library">
	<div class="intro">
		<div class="wrap">
			<div class="ingress-wrapper">
				<p class="lead">{{ library.field_library_description_short.value }}</p>	
			</div>
			{% if library.field_library_image_hero.value %}
				<div class="hero-image">
			    	{{ images.style('library_hero', library.field_library_image_hero) }}
			    	{{ library.field_library_image_hero.file.field_file_image_title_text.value }}
			    </div>
			{% endif %}
		</div>
	</div>

    {% if library.field_library_properties.count > 0 %}
    <div class="full-width-wrapper light">
    	<div class="library-resources">
                <div class="wrap">
                    		<div class="header">
                    			<h3> {{ t('At @library', {'@library': library.label}) }}</h3>
                    		</div>
                    		<main>
                                <table>
                                    {% for property in library.field_library_properties %}
                                        <tr>
                                            <td>
                                                {{ property.field_library_properties_key.label }}
                                            </td>
                                            <td>
                                                {% if property.field_library_properties_type.value == 'text' %}
                                                    {{ property.field_library_properties_text.value }}
                                                {% else %}
                                                    <i class="fa fa-{{ property.field_library_properties_type.value == 'yes' ? 'check' : 'times' }}"></i>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </main>
                </div> <!-- end wrap --> 
        </div>
    </div>
    {% endif %}
</div>
