{# slate
  name = Library: View mode 'Full content'
  models[library] = entity:node
  view_mode[node][library] = full
#}
{% import "images.html.twig" as images %}


<div class="library">
	<div class="intro">
		<div class="wrap">
			<div class="ingress-wrapper">
				<p class="ingress">{{ library.field_library_description_short.value }}</p>	
			</div>
			{% if library.field_library_image_hero.value %}
				<div class="hero-image">
			    	{{ images.style('library_hero', library.field_library_image_hero) }}
			    	{{ library.field_library_image_hero.file.field_file_image_title_text.value }}
			    </div>
			{% endif %}
		</div>
	</div>


	<div class="library-resources">
		<header>
			<h3>P책 {{library.label}}</h3>
		</header>
		<main>
			<table>
				<tr>
					<td>
						L채splatser
					</td>
					<td>
						10
					</td>
				</tr>
				<tr>
					<td>
						Grupprum
					</td>
					<td>
						8
					</td>
				</tr>
				<tr>
					<td>
						Microv책gsugn
					</td>
					<td>
						<i class="fa fa-check"></i>
					</td>
				</tr>
				<tr>
					<td>
						Microv책gsugn
					</td>
					<td>
						<i class="fa fa-times"></i>
					</td>
				</tr>
			</table>
		</main>
	</div>

	<div class="contact-library">
		<div class="wrap">
			<header>
				<h3>Kontakta {{library.label}}</h3>
			</header>
		</div>
	</div>
</div>