{# slate
  name = Library: View mode 'Full content'
  models[library] = entity:node
  view_mode[node][library] = full
#}
{% import "images.html.twig" as images %}


<div class="library">
	<div class="intro">
		<div class="wrap">
			<div class="ingress-wrapper">
				<p class="ingress">{{ library.field_library_description_short.value }}</p>	
			</div>
			{% if library.field_library_image_hero.value %}
				<div class="hero-image">
			    	{{ images.style('library_hero', library.field_library_image_hero) }}
			    	{{ library.field_library_image_hero.file.field_file_image_title_text.value }}
			    </div>
			{% endif %}
		</div>
	</div>

    {% if library.field_library_properties.count > 0 %}
	<div class="library-resources">
		<header>
			<h3>På {{library.label}}</h3>
		</header>
		<main>
            <table>
                {% for property in library.field_library_properties %}
                    <tr>
                        <td>
                            {{ property.field_library_properties_key.label }}
                        </td>
                        <td>
                            {% if property.field_library_properties_type.value == 'text' %}
                                {{ property.field_library_properties_text.value }}
                            {% else %}
                                <i class="fa fa-{{ property.field_library_properties_type.value == 'yes' ? 'check' : 'times' }}"></i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </main>
    </div>
    {% endif %}

    {{ ubn_general_generate_map([library.value]) | raw }}

	<div class="contact-library">
		<div class="wrap">
			<header>
				<h3>Kontakta {{library.label}}</h3>
			</header>
		</div>
	</div>

    {% if library.field_library_visiting_address %}
        {{ library.label }}
        {{ library.field_library_visiting_address }}
    {% endif %}

    {% if library.field_library_mailing_address %}
        {{ library.field_library_mailing_address._label }}
        {{ library.field_library_mailing_address }}
    {% endif %}

    {% if library.field_library_delivery_address %}
        {{ library.field_library_delivery_address._label }}
        {{ library.field_library_delivery_address }}
    {% endif %}

    {% if library.field_library_phone %}
        {{ library.field_library_phone._label }}
        {{ library.field_library_phone }}
    {% endif %}

</div>
