{# slate
  name = Library: View mode 'Full content'
  models[library] = entity:node
  view_mode[node][library] = full
#}
<h2>{{ library.label }}</h2>
<p>{{ library.field_library_description_short.value }}</p>
{% if library.field_library_image_hero.value %}
    {% set image = library.field_library_image_hero %}
    <img src="{{ image_style_url('library_hero', image.value.uri) }}" title="{{ image.file.field_file_image_title_text.value }}" alt="{{ image.file.field_file_image_alt_text.value }}">
    {{ image.file.field_file_image_title_text.value }}
{% endif %}
