{# slate
    name = Terms: Search result
    models[term_groups] = item
#}

<div class="row panel-separator">
  <div class="col-sm-8 col-sm-offset-2">
    <div id="terms-search-controls">
      <div class="input-group">
        <input id="terms-search-controls-search-box" type="text" name="q" placeholder="Search" class="form-control input-lg">
        <span class="input-group-btn">
        <button class="btn btn-lg btn-primary" type="submit"><i class="fa fa-search"></i></button>
        </span>
      </div><!-- /input-group -->
    </div>
  </div>
</div>



{% macro generate_evenly_distributed_rows(term_groups, number_of_items_per_row) %}
  <div class="row">
    <div class="col-sm-12">
      <div id="terms-groups">
        {% for term_group_batch in term_groups|batch(number_of_items_per_row) %}
          <div class="terms-groups-group term-group-{{ loop.index }}">
          {% for term_group in term_group_batch %}
            <span class="terms-groups-group-item terms-groups-group-{{ term_group.group.identifier }} {{ term_group.terms is empty ? 'terms-groups-group-empty' }}">
            {% if not term_group.terms is empty %}
              <a href="#term-group-{{ term_group.group.identifier }}">{{ term_group.group.name }}</a>
            {% else %}
              <span class="term-groups-group-item-disabled">{{ term_group.group.name }}</span>
            {% endif %}
            </span>
          {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endmacro %}


{% import _self as helper %}


<nav class="panel-separator visible-md-block visible-lg-block">
  {{helper.generate_evenly_distributed_rows(term_groups, 30)}}
</nav>



<nav class="panel-separator visible-sm-block">
  {{helper.generate_evenly_distributed_rows(term_groups, 15)}}
</nav>


<nav class="panel-separator visible-xs-block">
  {{helper.generate_evenly_distributed_rows(term_groups, 8)}}
</nav>




<div id="terms-search-results" class="panel-separator">
  {% for term_group in term_groups if not term_group.terms is empty %}
    <section class="term-group term-group-{{ term_group.group.identifier }}">
      <h2 id="term-group-{{ term_group.group.identifier }}">{{ term_group.group.name }}</h2>
      <ol class="term-group-terms list-unstyled">
        {% for term_id, term in term_group.terms %}
          {{ term|raw }}
        {% endfor %}
      </ol>
    </section>
  {% endfor %}
</div>


