{# slate
  name = Term: View mode 'UBN term search result'
  models[entity] = entity:taxonomy_term
  view_mode[taxonomy_term][term_synonym] = ubn_term_search_result
#}
{% set term_synonym_terms = entity.field_term_synonyms_taxonomy_term_eb %}
{% set groupId = drupal_clean_css_identifier(entity.name|first) %}

{% if not term_synonym_terms is empty %}
<li id="term-{{ entity.getIdentifier }}" data-term-group-id="{{ groupId }}" class="term term-synonym">
  <span class="term-name">{{ entity.name.value }}</span>, {{ t('see') }}
  <span class="term-synonym-terms">
    {% for term in term_synonym_terms %}
    	{% set id = drupal_clean_css_identifier(term.name_field) %}
      {{ loop.index > 1 ? (not loop.last ? ', ' : ' ' ~ t('or') ~ ' ') }}<a href="#{{ id }}">{{ term.name }}</a>
    {% endfor %}
  </span>
</li>
{% endif %}
