{# slate
  name = Term: View mode 'UBN term search result'
  models[entity] = entity:taxonomy_term
  view_mode[taxonomy_term][term] = ubn_term_search_result
#}
{% set id = entity.getIdentifier %}
<li id="term-{{ id }}" class="term term-collapsible">
  <a class="term-name collapsed" role="button" data-toggle="collapse" href="#term-{{ id }}-description" aria-expanded="false" aria-controls="term-{{ id }}-description">{{ entity.name.value }}</a> <i class="fa fa-chevron-down" aria-hidden="true"></i>
  <div id="term-{{ id }}-description" class="collapse term-description">{{ entity.description.value|raw }}</div>
</li>
