{# slate
    name = Terms: Search result
    models[term_groups] = item
#}

<div class="row panel-separator">
  <div class="col-lg-6 col-lg-offset-3 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <div id="terms-search-controls">
      <div class="input-group">
        <input id="terms-search-controls-search-box" autocomplete="off" type="text" name="q" placeholder="{{t('Search service, publication type, material...')}}" class="form-control input-lg">
        <i class="fa fa-filter"></i>
        <a href="javascript:void(0);" class="clear-search-btn" title='{{t("Clear search")}}'><i class='fa  fa-times-circle'></i></a>
        <!--<span class="input-group-btn">
        <button class="btn btn-lg btn-primary" type="submit"><i class="fa fa-search"></i></button>
        </span>-->
      </div><!-- /input-group -->
    </div>
  </div>
</div>



{% macro generate_evenly_distributed_rows(term_groups, number_of_items_per_row) %}
    <div class="col-sm-12 rs_preserve rs_skip">
      <div id="terms-groups">
        {% for term_group_batch in term_groups|batch(number_of_items_per_row) %}
          <div class="terms-groups-group term-group-{{ loop.index }}">
          {% for term_group in term_group_batch %}
            <span class="terms-groups-group-item terms-groups-group-{{ term_group.group.identifier }} {{ term_group.terms is empty ? 'terms-groups-group-empty' }}">

              <a href="#{{ term_group.group.identifier }}">{{ term_group.group.name }}</a>
              <span class="term-groups-group-item-empty">{{ term_group.group.name }}</span>
            </span>
          {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
{% endmacro %}


{% import _self as helper %}


<nav class="row letter-nav panel-separator visible-md-block visible-lg-block">
  {{helper.generate_evenly_distributed_rows(term_groups, 30)}}
</nav>



<nav class="row letter-nav panel-separator visible-sm-block clearfix">
  {{helper.generate_evenly_distributed_rows(term_groups, 30)}}
</nav>


<nav class="row letter-nav panel-separator visible-xs-block clearfix">
  {{helper.generate_evenly_distributed_rows(term_groups, 30)}}
</nav>



<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <div id="terms-search-results" class="panel-separator">
        <div class="no-result center rs_skip">{{ t('No term was found. Change your search and try again.') }}</div>
      {% for term_group in term_groups if not term_group.terms is empty %}
        <section class="term-group term-group-{{ term_group.group.identifier }}">
          <h2 class="medium" id="{{ term_group.group.identifier }}">{{ term_group.group.name }}</h2>
          <ul class="term-group-terms list-unstyled">
            {% for term_id, term in term_group.terms %}
              {{ term|raw }}
            {% endfor %}
          </ul>
        </section>
      {% endfor %}
    </div>
  </div>
</div>


