{# slate
  name = Database: View mode 'UBN search result'
  models[entity] = entity:node
  view_mode[node][database] = ubn_search_result
#}

{% set database = entity %}

{% import "macros/database-url.html.twig" as helper %}

<div class="database-row">
  {%
    set excerpt = database.value.ubn_search_result_item.excerpt ?
    database.value.ubn_search_result_item.excerpt :
    database.field_description_paragraphs[0].value
  %}
  {%
    set title = database.title.value
  %}
  {%
    set link = database.url.value
  %}
  {%
    set refering_link = "/?refering=" ~ request_uri()
  %}
  {%
    set link_expanded =  link ~ refering_link
  %}
  {%
    set desc = database.field_description_paragraphs[0].value|length > 150 ? database.field_description_paragraphs[0].value|slice(0, 150) ~ '...' : database.field_description_paragraphs[0].value
  %}


  <div class="database-item">
    <div class="database-item-link-title">
      <a href='{{ link_expanded }}'>{{title}}</h2></a>
    </div>

    <p class="database-item-description">
      {{ desc }}
    </p>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="database-item-access-level">
          {% if not database.field_public_access.value is empty %}
            <i class='fa fa-unlock' aria-hidden="true"></i>  {{database.field_public_access.value}}
          {% else %}
            <i class='fa fa-lock' aria-hidden="true"></i> {{database.field_public_access.value}}
          {% endif %}
        </div>
      </div>
      <div class="col-xs-12 col-sm-12">
        <div class="database-item-direct-link">
            <a href="{{ helper.getPreferedUrl(database.field_database_urls) }}">{{ t("Directly to") }} {{title}}</a><i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>
