{# slate
  name = Database: Terms of use
  models[database] = entity:node
#}

{% import "macros/property-list.html.twig" as property_list %}

{%
  set mapping = {
    'PublicNote': t('Library staff node'),
    'AuhtorizesUserDef': t('Authorized user definition'),
    'DigitalCopy': t('Download'),
    'DigitalCopyTermNote': t('Download note'),
    'PrintCopy': t('Print'),
    'PrintCopyTermNote': t('Print note'),
    'ScholarySharing': t('Scholarly sharing'),
    'ScholarySharingNote': t('Scholarly sharing note'),
    'CoursePackPrint': t('Course pack print'),
  }
%}
{% set verde_data = json_decode(database.field_verde_data_json.value, TRUE) %}
{{ dsm(verde_data) }}
<section class="database-terms-of-use">
<h3>{{ database.field_verde_data_json._label }} </h3>
{{ property_list.property_list_begin() }}
{% for source, label in mapping %}
  {% if not verde_data[source] is empty and not verde_data[source] is iterable %}
    {{ property_list.property(verde_data[source], label ~ ':', '', TRUE) }}
  {% endif %}
{% endfor %}
{{ property_list.property_list_end() }}
</section>
