{# slate
  name = Library contact
  models[library] = entity:node
#}
<div class="container ub-panel-separator">
  <div class="ubn-pane library-contact-pane row">
  {% set form_instance = library.field_issue_form_instance %}
  {% set form_enabled =
    (not form_instance is empty) and
    form_instance.field_form_access.value
  %}
  <section class="library-contact {%if form_enabled %}col-md-10 col-md-offset-1{% else %}col-sm-8 col-sm-offset-2{% endif %}">
    <h2>{{ t('Contact information') }}</h2>
    <div class="row">
      <div class="{% if form_enabled %}col-sm-6 col-md-5{% else %}col-xs-12{% endif %}">
        {% set mailing_address = library.field_mailing_address.value %}
        {% if not mailing_address is empty %}
          <section class="library-contact-section">
          <h3>{{ mailing_address.organisation_name }}</h3>
          <p>
            {{ mailing_address.thoroughfare }}<br>
            {{ mailing_address.postal_code }} {{ mailing_address.locality }}<br>
          </p>
          </section>
        {% endif %}

        {% set visiting_address = library.field_visiting_address.value %}
        {% if not visiting_address is empty %}
          <h3>{{ library.field_visiting_address._label }}</h3>
          <section class="library-contact-section">
          <p>
            {{ (not visiting_address.premise is empty ? visiting_address.premise ~ ', ') ~ visiting_address.thoroughfare }}<br>
          </p>
          </section>
        {% endif %}

        {% set delivery_address = library.field_delivery_address.value %}
        {% if not delivery_address is empty %}
          <h3>{{ library.field_delivery_address._label }}</h3>
          <section class="library-contact-section">
          <p>
            {% if not delivery_address.organisation_name is empty %}
              {{ delivery_address.organisation_name }}<br>
            {% endif %}
            {{ (not delivery_address.premise is empty ? delivery_address.premise ~ ', ') ~ delivery_address.thoroughfare }}<br>
            {{ delivery_address.postal_code }} {{ delivery_address.locality }}<br>
          </p>
          </section>
        {% endif %}

        {% if not library.field_phone.value is empty %}
          <section class="library-contact-section">
          <h3>{{ library.field_phone._label }}</h3>
          <div>{{ library.field_phone.value }}</div>
          </section>
        {% endif %}
      </div>
      {% if form_enabled %}
      <div class="col-sm-6 col-md-7">
        <h3>{{ t('Contact form') }}</h3>
          {{ ubn_form_instance_render(form_instance, 'issue')|raw }}
      </div>
      {% endif %}
    </div>
  </section>
  </div>
</div>
