{# slate
  name = Library map item content
  type = gmap_tools_slate_gmap_item_content
  models[library] = entity:node
#}
{% import "macros/property-list.html.twig" as property_list %}

<h3>{{ library.title.value }}</h3>
{{ property_list.property_list_begin() }}
  {% set visiting_address = library.field_visiting_address.value %}
  {% if not visiting_address is empty %}
    {{ property_list.property(visiting_address.thoroughfare, t('Address') ~ ':') }}
  {% endif %}
  {{ property_list.property(library.field_phone.value, library.field_phone._label ~ ':') }}
  {% set opening_hours_today = ubn_opening_hours_items(library.field_referenced_opening_hours, [t('Today')])|first %}
  {{ property_list.property(opening_hours_today.hours, t('Open today') ~ ':') }}
{{ property_list.property_list_end() }}
<a href="{{ library.url.value }}">{{ t('More info') }}</a>
