{# slate
  name = Library: Libraries list item
  models[library] = entity:node
#}

  <section class="row vertical-align">
    <div class="col-xs-10 col-sm-11">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <a href="{{ library.url.value }}">{{library.title}}</a>
          {%if library.field_description_short.value %}
            <p class="hidden-xs">{{ library.field_description_short.value }}</p>
          {% endif %}
        </div>
        <div class="col-xs-12 col-sm-6">
          {% for opening_hours in ubn_opening_hours_items(library.field_referenced_opening_hours, [t('Today'), t('Tomorrow')]) %}
            <div class="row {{ 'libraries-list-item-opening-hours-' ~ drupal_html_class(opening_hours.weekday) }}">
              <div class="col-sm-4 libraries-list-item-opening-hours-label">{{ opening_hours.weekday }}</div>
              <div class="col-sm-8 libraries-list-item-opening-hours-hours"><div class="pull-right-sm">{{ opening_hours.hours }}</div></div>
            </div>
          {% endfor %}

        </div>
       </div>
    </div>
    <div class="col-xs-2 col-sm-1">
      <div class="indicator pull-right">
        <i class="fa fa-chevron-right"></i>
      </div>
    </div>
  </section>
