{# slate
  name = Library opening hours
  models[library] = entity:node
#}
{% set today = "now"|date("Y-m-d", date_default_timezone(FALSE)) %}
{% set tomorrow = "+ 1 day"|date("Y-m-d", date_default_timezone(FALSE)) %}


<ul class="list-unstyled ub-list-of-links">
{% for opening_hours in library.field_referenced_opening_hours %}
  <li>
    <div class="row vertical-align">
      {% set opening_hours_date = opening_hours.field_opening_hours_date.value|date("Y-m-d") %}
      {% if opening_hours_date == today %}
        <div class="col-xs-7 col-sm-9">{{ t("Today") }}</div>
      {% elseif opening_hours_date == tomorrow %}
        <div class="col-xs-7 col-sm-9">{{ t("Tomorrow") }}</div>
      {% else %}
        <div class="col-xs-7 col-sm-9">{{ t(opening_hours.field_opening_hours_date.value|date("l")) }}</div>
      {% endif %}
      {% set exception = opening_hours.field_opening_hours_is_exception.value ? '*' %}
      {% if opening_hours.field_opening_hours_is_open.value %}
        <div class="col-xs-5 col-sm-3">{{ opening_hours.field_opening_hours.value|date("H:i") ~ " - " ~ opening_hours.field_opening_hours.value2|date("H:i") ~ exception }}</div>
      {% else %}
        <div class="col-xs-5 col-sm-3">{{ t("Closed") ~ exception }}</div>
      {% endif %}
    </div> <!-- end row -->
  </li>
{% endfor %}
</ul>

