{# slate
  name = Library opening hours
  models[library] = entity:node
  cache_key = hash
#}

<div class="panel-separator">
  <header>
    <div class="row">
      <h2 class="col-xs-12 col-lg-6 col-lg-offset-3 col-md-8 col-sm-offset-2" id="library-opening-hours-header">{{ t("Opening hours for !location", {"!location" : library.title_field.value}) }}</h2>
    </div>  

    <div class="row">
      <section class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2">
        {{library.field_opening_hours_disclaimer.value | raw}}
      </section>
    </div>
  </header>
  <div class="row">
    <div class="col-xs-12 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2">
      <ul class="list-unstyled ub-list-of-links">
      {% set hasException = false %}
      {% for opening_hours in ubn_opening_hours_items(library.field_opening_hours) %}
        <li>
          <div class="row vertical-align">
            <div class="col-xs-7 col-sm-8">{{ opening_hours.weekday }}</div>
            <div class="col-xs-5 col-sm-4">
              {{ opening_hours.hours }}
              {% if opening_hours.is_exception %}
                *
                {% set hasException = true %}
              {% endif %}
            </div>

          </div> <!-- end row -->
        </li>
      {% endfor %}
      </ul>
      {% if hasException %}
        <div class="row">
          <div class="col-xs-12">
            <div class="ubn-footnote">
              * {{t("Special hours")}}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div> <!-- end row -->
</div>
