{# slate
  name = Library contact
  models[library] = entity:node
  cacheable = FALSE
#}
{% import 'macros/contact-list.html.twig' as contacts %}

<div class="panel-separator">
  <div class="ubn-pane library-contact-pane row">
  <section class="library-contact col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2">
    {% if not (mailing_address.organisation_name is empty and mailing_address.thoroughfare is empty and  mailing_address.postal_code is empty and mailing_address.locality is empty and visiting_address.premise is empty and visiting_address.thoroughfare is empty and delivery_address.premise is empty and delivery_address.thoroughfare is empty) 
    %}
    <h2>{{ t('Contact information') }}</h2>
  {% endif %}
    <div class="row">
      <div class="col-xs-12">
        {% set mailing_address = library.field_mailing_address.value %}
        {% if not mailing_address is empty %}
          {% if not (mailing_address.organisation_name is empty and mailing_address.thoroughfare is empty and mailing_address.premise is empty and mailing_address.postal_code is empty and mailing_address.locality is empty) %}
            <address class="library-contact-section mailing-address">
              <h3>{{t("Mailing address")}}</h3>
                {% if not mailing_address.organisation_name  is empty %}
                  {{ mailing_address.organisation_name }}<br>
                {% endif %}
                {% if not mailing_address.thoroughfare  is empty %}
                  {{ mailing_address.thoroughfare }}<br>
                {% endif %}
                {% if not mailing_address.premise is empty %}
                  {{ mailing_address.premise }}<br>
                {% endif %}
                {{ mailing_address.postal_code }} {{ mailing_address.locality }}
            </address>
          {% endif %}
        {% endif %}

        {% set visiting_address = library.field_visiting_address.value %}
        {% if not visiting_address is empty %}
          {% if not (visiting_address.thoroughfare is empty and visiting_address.premise is empty and visiting_address.postal_code is empty and visiting_address.locality is empty) %}
            <address class="library-contact-section visiting-address">
              <h3>{{ t("Visiting address") }}</h3>
	            {% if not visiting_address.thoroughfare is empty %}
	              {{ visiting_address.thoroughfare }}<br>
	            {% endif %}
	            {% if not visiting_address.premise is empty %}
	              {{ visiting_address.premise }}<br>
	            {% endif %}
	            {{ visiting_address.postal_code }} {{ visiting_address.locality }}
            </address>
          {% endif %}
        {% endif %}
        
        {% set delivery_address = library.field_delivery_address.value %}
        {% if not delivery_address is empty %}
          {% if not (delivery_address.thoroughfare is empty and delivery_address.premise is empty and delivery_address.postal_code is empty and delivery_address.locality is empty) %}
            <address class="library-contact-section delivery-address">
              <h3>{{ t("Delivery address") }}</h3>
                {% if not delivery_address.thoroughfare is empty %}
                  {{ delivery_address.thoroughfare }}<br>
                {% endif %}
                {% if not delivery_address.premise is empty %}
                  {{ delivery_address.premise }}<br>
                {% endif %}
                {{ delivery_address.postal_code }} {{ delivery_address.locality }}
            </address>
          {% endif %}
        {% endif %}

        {% if not library.field_phone.value is empty %}
          <section class="library-contact-section">
            <h3>{{ t("Telephone")}}</h3>
            <div><a href="tel:{{library.field_phone.value}}"><span itemprop="telephone">{{ library.field_phone.value }}</span></a></div>
          </section>
        {% endif %}
      </div>
    </div>
  </section>
  </div>
</div>


