{# slate
  name = Navigation landing: theme-links
  models[page] = entity:node
  models[children] = item
  models[onecol] = item

#}

{% import "macros/misc.html.twig" as misc %}
{% import "macros/panel-links.html.twig" as pane %}

{% macro theme_link(linkTitle, url, description, index, page, addShortcuts, isPrimary, oneColLayout) %}
  {% import "macros/misc.html.twig" as misc %}
  {% import "macros/panel-links.html.twig" as pane %}
  {% if oneColLayout %}
    <li class="col-xs-12 col-sm-10 col-md-8 col-lg-6  col-lg-offset-3 col-sm-offset-1 col-md-offset-2 one-col-layout">
  {% else %}
    <li class="col-xs-12 col-sm-6 col-md-4">
  {% endif %}
    {{ pane.pane_begin('ubn-theme-links-item', { 'hide_icon': true, 'min_height': false } ) }}
      <div class="ubn-theme-links-item-head">
        <div class="ubn-theme-links-item-head-link">
          {% if isPrimary %}
            <h2 class="list header-list primary"><a href="{{ url(url) }}">{{linkTitle}}<i class="fa fa-arrow-right"></i></a></h2>
          {% else %}
            <h2 class="list header-list secondary"><a href="{{ url(url) }}">{{linkTitle}}<i class="fa fa-arrow-right"></i></a></h2>
          {% endif %}
        </div>
        <div class="ubn-theme-links-item-head-indicator">
          <!--<i class="fa fa-arrow-right" aria-hidden="true"></i>-->
        </div>
      </div>
      <div class="ubn-theme-links-item-body">
        {{ description|raw }}
      </div>
    {{ pane.pane_end() }}
  </li>
  {% set adjustedForExtraItem = addShortcuts ? 1 : 0 %}
  {% if (index + adjustedForExtraItem) % (3) == 0 %}
    <div class="clearfix visible-md-block visible-lg-block"></div>
  {% endif %}
  {% if (index + adjustedForExtraItem) % (2) == 0 %}
    <div class="clearfix visible-sm-block"></div>
  {% endif %}
{% endmacro %}
{% if not children is empty %}
  <div class="row">
    <ul class="ubn-theme-links primary list-unstyled clearfix">
      {% if not page.field_shortcut_links is empty %}
        {% set addShortcuts = true %}
          {% if onecol %}
            <li class="col-xs-12 col-sm-6 col-sm-offset-1 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-3">
          {% else %}
            <li class="col-xs-12 col-sm-6 col-md-4">
          {% endif %}
          <div>
            {{ pane.link_list(page.field_shortcut_heading.value, page.field_shortcut_links, 'shortcuts', { 'hide_icon': true, 'promoted': false, 'min_height': false }) }}
          </div>
        </li>
      {% endif %}
      {% set isPrimary = true %}
      {% for link in children %}
        {% if loop.index <= page.field_field_number_of_primary.value %}
          {{ _self.theme_link(link['link']['title'], link['link']['link_path'], link['link']['localized_options']['attributes']['title'], loop.index, page, addShortcuts, isPrimary, onecol)}}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% set isPrimary = false %}
  <div class="row">
    <ul class="ubn-theme-links secondary list-unstyled clearfix">
      {% for link in children %}
        {% if loop.index > page.field_field_number_of_primary.value %}
          {{ _self.theme_link(link['link']['title'], link['link']['link_path'], link['link']['localized_options']['attributes']['title'], loop.index - page.field_field_number_of_primary.value, page,false, isPrimary, onecol)}}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endif %}
