{# slate
  name = Page for databases
  models[database] = entity:node
#}

{% macro buildSearchUrl(propertyName,item) %}
  {%
    set baseUrl =  base_path() ~ "find/databases/search"
  %}
  {% if (propertyName == "field_topics_depth_0") %}
    {% set url = baseUrl ~ "?f[0]=field_topics_depth_0:" ~ item.tid.value %}
    {{url}}
  {% elseif (propertyName == "field_topics_depth_1") %}
    {% set url = baseUrl ~ "?f[0]=field_topics_depth_0:" ~ item.parent[0].value.tid ~ "&f[1]=field_topics_depth_1:" ~ item.tid.value %}
    {{url}}
  {% else %}

  {% endif %}
{% endmacro %}


{% macro databasePropertyRow(headerStr, propertyName, propertyObj, field) %}
  {% import _self as help %}
  <div class="col-xs-12 database-property">
      <div class="database-property-header">{{t(headerStr)}}:</div>
      <div class="database-property-value">
        {% for item in propertyObj %}
            {% if field %}
              {% set theAttribute = field %}
            {% else %}
              {% set theAttribute = "value" %}
            {% endif %}
            {% if propertyName == "field_topics_depth_0" or propertyName == "field_topics_depth_1" %}
              <a href="{{help.buildSearchUrl(propertyName, item)}}">{{attribute(item,theAttribute)}}</a> {% if not loop.last %} | {% endif %}
            {% else %}
              {{attribute(item,theAttribute)}} {% if not loop.last %} | {% endif %}
            {% endif %}
        {% endfor %}
      </div>
  </div>
{% endmacro %}


{% macro printAccessRight(url) %}
    {% if not ('ezproxy.' in url) %}
      <i class='fa fa-unlock'></i>  {{t("Freely accessible")}}
    {% else %}
      <i class='fa fa-lock'></i> {{t("Accessible for University of Gothenburg")}}
    {% endif %}
{% endmacro %}

{% import _self as helper %}

{%
  set refering_url = drupal_get_query_parameters()['refering']
%}

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      {% if refering_url %}
        <div class="row">
          <div class="col-xs-12">
            <i class="fa fa-chevron-left"></i> <a href="{{refering_url}}">{{t("Back to search result")}}</a>
          </div>
        </div>
      {% endif %}
      <div class="database-abstract">
        <div class="row">
          <div class="col-xs-12">
          <h1>{{database.title}}</h1>
          </div>
        </div>

        {% if database.field_malfunction_message_active.value == 1 %}
          <div class="row">
            <div class="col-xs-12">
              {% if database.field_malfunction_message.value %}
                <div class="alert alert-warning" role="alert">
                  <div class="alert-icon"><i class="fa fa-info-circle"></i></div>
                  <div class="alert-body">
                    <div class="alert-error-message">{{database.field_malfunction_message.value}}</div>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}

        <div class="row">
          <div class="col-xs-12">
            {% if not database.field_description_paragraphs is empty %}
              {% for paragraph in database.field_description_paragraphs %}
                <p>
                  {{paragraph}}
                </p>
              {% endfor %}
            {% endif %}
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 center">
              {% if not database.field_database_urls is empty %}
                {% for item in database.field_database_urls %}
                  <div class="database-links">
                    <div class="row database-links-link">
                      <div class="col-xs-12">
                        <a class="call-to-action" href={{item.field_url.value.url}}>{{t("To")}} {{database.title}}
                          {% if item.field_url.value.title %}
                            ({{item.field_url.value.title}})
                          {% endif %}
                        </a>
                      </div>
                    </div>
                    <div class="row database-links-info">
                      <div class="col-xs-12">
                        
                        {% if item.field_public_access.value is null %}
                          {{helper.printAccessRight(item.field_url.value.url)}}
                        {% else %}
                          {% if item.field_public_access.value %}
                            <i class="fa fa-unlock"></i>
                            {{t("Freely accessible")}}
                          {% else %}
                            <i class="fa fa-lock"></i>
                            {{t("Accessible for University of Gothenburg")}}
                          {% endif %}
                        {% endif %}
                      </div>
                    </div>
                  </div> <!-- end database-links -->
                {% endfor %}
              {% endif %}
          </div>
        </div>
      </div> <!-- end abstract -->



    <div class="row database-properties">
      {% if not database.field_topics.value is empty %}
        {{helper.databasePropertyRow("Subjects", "field_topics_depth_0", database.field_topics_depth_0, "name")}}
      {% endif %}

      {% if not database.field_topics_depth_1.value is empty %}
        {{helper.databasePropertyRow("Subject terms", "field_topics_depth_1", database.field_topics_depth_1, "name")}}
      {% endif %}

      {% if not database.field_publishers.value is empty %}
        {{helper.databasePropertyRow("Vendor", null, database.field_publishers, "name")}}
      {% endif %}

      {% if not database.field_media_types.value is empty %}
        {{helper.databasePropertyRow("Mediatypes", null, database.field_media_types, "name")}}
      {% endif %}

      {% if not database.field_alternate_titles is empty %}
        {{helper.databasePropertyRow("Alternative title", null,  database.field_alternate_titles, null)}}
      {% endif %}
    </div>
  </div>
</div>
