{# slate
  name = Page for databases
  models[database] = entity:node
#}

{% macro buildSearchUrl(item) %}
  {%
    set baseUrl =  base_path() ~ "find/databases/search"
  %}

  {% if item.parent[0].value.tid is empty %}
    {% set url = baseUrl ~ "?f[0]=field_topics_depth_0:" ~ item.tid.value %}
    {{url}}
  {% else %}
    {% set url = baseUrl ~ "?f[0]=field_topics_depth_0:" ~ item.parent[0].value.tid ~ "&f[1]=field_topics_depth_1:" ~ item.tid.value %}
    {{url}}
  {% endif %}
{% endmacro %}

{% macro databasePropertyRow(headerStr, propertyObj, field, buildlink) %}
  {% if buildlink is null %}
     {% set buildlink = true %}
  {% endif %}
  {% import _self as help %}
  <div class="col-xs-12 database-property">
      <div class="database-property-header">{{t(headerStr)}}:</div>
      <div class="database-property-value">
        {% for item in propertyObj %}
            {% if field %}
              {% set theAttribute = field %}
            {% else %}
              {% set theAttribute = "value" %}
            {% endif %}
            {% if propertyObj.value is not empty and buildlink %}
              <a href="{{help.buildSearchUrl(item)}}">{{attribute(item,theAttribute)}}</a> {% if not loop.last %} | {% endif %}
            {% else %}
              {{attribute(item,theAttribute)}} {% if not loop.last %} | {% endif %}
            {% endif %}
        {% endfor %}
      </div>
  </div>
{% endmacro %}

{% macro printAccessRight(url) %}
    {% if not ('ezproxy.' in url) %}
      <i class='fa fa-unlock' aria-hidden="true"></i>  {{t("Freely accessible")}}
    {% else %}
      <i class='fa fa-lock' aria-hidden="true"></i> {{t("Accessible for University of Gothenburg")}}
    {% endif %}
{% endmacro %}


{% macro databaseTOURow(val, text, desc) %}
    {% if not val is null %}
      <tr class="{{ desc.value ? 'has-desc' : 'no-desc'}}">
        <td>{{text}}</td>
        {% if val.value == "Yes" %}
          <td><strong>{{t('Permitted')}}</strong></td>
        {% else %}
          <td><strong>{{t('Prohibited')}}</strong></td>
        {% endif %}
      </tr>
      {% if not desc.value is empty %}
      <tr class="database-tou-table-desc">
        <td colspan="2"><i>{{desc.value}}</i></td>
      </tr>
      {% endif %}
    {% endif %}
{% endmacro %}


{% import _self as helper %}

{%
  set refering_url = drupal_get_query_parameters()['refering']
%}

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      {% if refering_url %}
        <div class="row">
          <div class="col-xs-12">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> <a href="{{refering_url}}">{{t("Back to search result")}}</a>
          </div>
        </div>
      {% endif %}
      <div class="database-abstract">
        <div class="row">
          <div class="col-xs-12">
          <h1>{{database.title}}</h1>
          </div>
        </div>

        {% if database.field_malfunction_message_active.value == 1 %}
          <div class="row">
            <div class="col-xs-12">
              {% if database.field_malfunction_message.value %}
                <div class="alert alert-warning" role="alert">
                  <div class="alert-icon"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
                  <div class="alert-body">
                    <div class="alert-error-message">{{database.field_malfunction_message.value}}</div>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}

        <div class="row">
          <div class="col-xs-12">
            {% if not database.field_description_paragraphs is empty %}
              {% for paragraph in database.field_description_paragraphs %}
                <p>
                  {{paragraph}}
                </p>
              {% endfor %}
            {% endif %}
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
              {% if not database.field_database_urls is empty %}
                {% if database.field_public_access.value is null %}
                  test
                  {{helper.printAccessRight(item.field_url.value.url)}}
                {% else %}
                  <div class="database-public-access-info">
                    {% if database.field_public_access.value %}
                      <i class="fa fa-unlock" aria-hidden="true"></i>
                    {% else %}
                      <i class="fa fa-lock" aria-hidden="true"></i>
                    {% endif %}
                    {{database.field_access_information.value.name}}
                  </div>
                {% endif %}
                {% for item in database.field_database_urls %}
                  <div class="database-links">
                    <div class="row database-links-link">
                      <div class="col-xs-12">
                        <a class="call-to-action" href={{item.field_url.value.url}}>{{t("To")}} {{database.title}}
                          {% if item.field_url.value.title %}
                            ({{item.field_url.value.title}})
                          {% endif %}
                        </a>
                      </div>
                    </div>
                  </div> <!-- end database-links -->
                {% endfor %}
              {% endif %}
          </div>
        </div>
      </div> <!-- end abstract -->

      <div class="divider"></div>


      <div class="row database-properties">
        {% if not database.field_recommended_in_subjects.value is empty %}
          {{helper.databasePropertyRow("Recommended in", database.field_recommended_in_subjects, "name")}}
        {% endif %}

        {% if not database.field_topics.value is empty %}
          {{helper.databasePropertyRow("Subjects", database.field_topics, "name")}}
        {% endif %}

        {% if not database.field_publishers.value is empty %}
          {{helper.databasePropertyRow("Vendor", database.field_publishers, "name")}}
        {% endif %}

        {% if not database.field_media_types.value is empty %}
          {{helper.databasePropertyRow("Mediatypes", database.field_media_types, "name")}}
        {% endif %}

        {% if not database.field_alternate_titles is empty %}
          {{helper.databasePropertyRow("Alternative title",  database.field_alternate_titles, null, false)}}
        {% endif %}
      </div>

      <div class="divider"></div>


      {% if (database.field_print_article_chapter is not null) or (database.field_download_article_chapter is not null) or (database.field_course_pack_print is not null) or (database.field_gul_course_pack_electronic is not null) or (database.field_scholarly_sharing is not null) or (database.field_interlibrary_loan is not null) %}
      <div class="row database-tou">
          <div class="col-xs-12">
              <table class="table database-tou-table">
                <strong>{{t("Terms of use")}}</strong>
                <tbody>
                  {{helper.databaseTOURow(database.field_print_article_chapter,t("Print article or chapter"), database.field_tou_article_chapt_desc)}}
                  {{helper.databaseTOURow(database.field_download_article_chapter,t("Download article or chapter"), database.field_download_article_chap_desc)}}
                  {{helper.databaseTOURow(database.field_course_pack_print,t("Print course pack"), database.field_course_pack_print_desc)}}
                  {{helper.databaseTOURow(database.field_gul_course_pack_electronic,t("Upload course pack to learning management system"), database.field_gul_course_pack_elect_desc)}}
                  {{helper.databaseTOURow(database.field_scholarly_sharing,t("Scholarly sharing"), database.field_scholarly_sharing_desc)}}
                  {{helper.databaseTOURow(database.field_interlibrary_loan,t("Interlibrary loan"), database.field_interlibrary_loan_desc)}}
                </tbody>
              </table>
          </div>
      </div>
      {% endif %}
    </div>
</div>
