{# slate
    name = Search-widget
    models[list] = item
#}

<div id="search-widget" class="ub-panel-separator">
	<h1 class="slogan">{{list.slogan | raw}}</h1>
	<form action="{{list.url}}">
		<div class="input-group">
			<input type="text" name="q" class="form-control" aria-label="{{list.aria}}" placeholder="{{list.placeholder}}">
			<span class="input-group-btn">
			<button class="btn btn-primary" type="submit"><span class="hidden-xs">{{t('Search')}}</span> <i class="fa fa-search"></i></button>
			</span>
		</div><!-- /input-group -->
	</form>
</div>
