{# slate
    name = Search-widget
    models[url] = item
    models[slogan] = item
    models[placeholder] = item
    models[aria_label] = item
#}

<div id="search-widget" class="ub-panel-separator">
	<h1 class="slogan">{{ slogan | raw }}</h1>
	<form action="{{ url }}">
		<div class="input-group">
			<input type="text" name="q" class="form-control" aria-label="{{ aria_label }}" placeholder="{{ placeholder }}">
			<span class="input-group-btn">
			<button class="btn btn-primary" type="submit"><span class="hidden-xs">{{ t('Search') }}</span> <i class="fa fa-search"></i></button>
			</span>
		</div><!-- /input-group -->
	</form>
</div>
