{# slate
    name = Search-widget
    models[url] = item
    models[slogan] = item
    models[placeholder] = item
    models[aria_label] = item
    models[link_list] = item
#}

<div id="search-widget" class="panel-separator">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 bg-plate">
        <h2 class="h1">{{ slogan | raw }}</h2>
        <div class="row">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-sm-8">
                  <form class="custom-form">
                    <div class="input-group">
                      <input type="text" name="query" class="form-control input-lg" aria-label="{{ aria_label }}" placeholder="{{ placeholder }}">
                      <div class="input-group-btn">
                      <button class="btn btn-lg btn-primary" type="submit" aria-label="{{ aria_label }}"><i class="fa fa-search" aria-hidden="true"></i></button>
                      </div>
                    </div><!-- /input-group -->
                  </form>
                </div>
                <div class="col-sm-4">
                  {{ link_list|raw }}
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>