{# slate
    name = Search-widget
    models[url] = item
    models[slogan] = item
    models[placeholder] = item
    models[aria_label] = item
    models[file_url] = item
    models[link_list] = item
#}

    <div id="search-widget" class="panel-separator">
    {% if file_url %}
      <div class="search-widget-cover" style="background-image: url({{file_url}}); background-repeat: no-repeat; background-position: center;" >
    {% else %}
     	<div class="search-widget-cover">
    {% endif %}
          <div class="search-widget-cover-content">
            <div class="search-widget-content container">
            	<div class="slogan">
            		{% if dark_theme %}
              			<h2 class="slogan-header slogan-theme-light h1">{{ slogan | raw }}</h2>
              		{% else %}
              			<h2 class="slogan-header slogan-theme-dark h1">{{ slogan | raw }}</h2>
              		{% endif %}
              	</div>
              <div class="row">
                <div class="col-sm-12 search-widget-content-plate">
                  <div class="row">
                    <div class="col-sm-8">
                      <form action="{{ url }}">
                        <label for="q">{{aria_label}}</label>
                        <div class="input-group">
                          <input type="text" name="q" class="form-control input-lg" aria-label="{{ aria_label }}" placeholder="{{ placeholder }}">
                          <div class="input-group-btn">
                          <button class="btn btn-lg btn-primary" type="submit" aria-label="{{ aria_label }}"><i class="fa fa-search" aria-hidden="true"></i></button>
                          </div>
                        </div><!-- /input-group -->
                      </form>
                    </div>
                    <div class="col-sm-4">
						{{ link_list|raw }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>