{# slate
  name = Story: promoted
  models[story] = entity:node
#}
{% import "macros/dates.html.twig" as dates %}
{% import "macros/misc.html.twig" as misc %}

<section class="story-promoted col-sm-4">
  <div class="story-promoted-image">
  {% if (not story.field_content_sections is empty) %}
    {% set image_atoms = ubn_content_sections_atoms(story.field_content_sections, 'image', 1) %}
    {% if not image_atoms is empty %}
      {%
        set atom = image_atoms|first
      %}
    {% endif %}
  {% endif %}

  {% if atom %}
    {{ misc.media_atom(atom, 'blurb') }}
  {% else %}
    {%
      set pathToPlaceholder = base_path() ~ drupal_get_path('theme', variable_get('theme_default', NULL)) ~ '/css/img/news-item-placeholder.png'
    %}
    <img src="{{pathToPlaceholder}}" alt="Image placeholder" title="Image placeholder">
  {% endif %}


  </div>
  <div class="story-promoted-publication-date">{{ dates.date_default(story.created) }}</div>
  <h2 class="story-promoted-header list primary">{{ misc.link(story.title_field.value, story.url) }}</h2>
  <div class="story-promoted-excerpt">{{ truncate_utf8(story.field_lead.value, 125, TRUE, TRUE) }}</div>
</section>
