{# slate
  name = Term: View mode 'UBN term search result'
  models[entity] = entity:taxonomy_term
  view_mode[taxonomy_term][term] = ubn_term_search_result
#}
{% set id = drupal_clean_css_identifier(entity.name) %}
{% set groupId = ubn_terms_safe_css_identifier(entity.name|first) %}
{% import "macros/misc.html.twig" as misc %}

<li id="{{ id }}" data-term-group-id="{{ groupId }}" class="term term-collapsible">
  <a class="term-name collapsed icon-to-the-right" role="button" data-toggle="collapse" href="#{{ id }}-description" aria-expanded="false" aria-controls="term-{{ id }}-description">{{ entity.name.value }}</a> <i class="fa fa-dynamic fa-chevron-down" aria-hidden="true"></i>
  <div id="{{ id }}-description" class="collapse term-description">
  <div>
    {{ entity.description.value|raw }}
    {% if entity.field_shortcut_links is not empty %}
      <ul class="term-description-read-more-links list-unstyled">
      {% for link in entity.field_shortcut_links %}
        {% if link.field_type_to_use.value == "link" %}
          <li><a class="icon-to-the-right" href=" {{ url(link.field_link.value.url) }} ">{{ link.field_link.value.title }} </a> <i class="fa fa-chevron-right"></i></li>
        {% elseif link.field_type_to_use.value == "file" %}
          <li>{{ misc.file_atom(link.field_file, 'page_navigation_landing_shortcut')|raw }}</li>
        {% endif %}
      {% endfor %}
      </ul>
    {% endif %}
    {% set referencing_content_sections = entity.field_referenced_term_field_collection_item_eb %}
    {% if not referencing_content_sections is empty %}
      {% set break = false %}
      {% for section in referencing_content_sections if section.field_referenced_term_no_link.value is empty and not break %}
        {# Only output first valid link found #}
        {{
          misc.link(
            t('Read more about @term', { '@term' : entity.name.value }),
            section.host_entity.url.value,
            'term-page-link',
            { 'fragment' : 'content-section-term-' ~ drupal_strtolower(drupal_clean_css_identifier(entity.name.value)) }
          )
        }}
        {% set break = true %}
      {% endfor %}
    {% endif %}
    </div>
  </div>
</li>
