{# slate
  name = UBN menu: main-menu (menu-trail)
  models[links] = item
#}
<ul class="menu-trail">
  {% spaceless %}
  <li>
    <a href="{{ url('<front>') }}">{{ t('Home') }}</a>
    <i class="fa fa-angle-right"></i>
  </li>
  {% for link in links %}
    {% if not loop.last %}
      <li>
        <a href="{{ link.href }}">{{ link.title }}</a>
        <i class="fa fa-angle-right"></i>
      </li>
    {% else %}
      <li>{{ link.title }}</li>
    {% endif %}
  {% endfor %}
  {% endspaceless %}
</ul>
