{# slate
  name = UBN menu: main-menu (menu-trail)
  models[links] = item
#}
<ul class="menu-trail menu">
  {% spaceless %}
  {% for link in links %}
    {% if not loop.last %}
      <li>
        {% if link is iterable %}
          {% if loop.first %}
            <a class="menu-trail-home" href="{{ link.href }}" title="{{t('Home')}}"><i class="fa fa-home"></i></a>
          {% else  %}
            <a href="{{ link.href }}">{{ link.title }}</a>
          {% endif %}
        {% else %}
          {{ link|raw }}
        {% endif %}
        <span class="menu-trail-slash">/</span>
      </li>
    {% elseif link is iterable %}
      <li>{{ link.title }}</li>
    {% else %}
      {{ link|raw }}
    {% endif %}
  {% endfor %}
  {% endspaceless %}
</ul>
