{# slate
  name = UBN menu: main-menu (bottom-level-dropdown)
  models[links] = item
  models[readspeaker_lang] = item
  models[current_path] = item
#}
{% import "macros/menus.html.twig" as menus %}
<div class="ubn-mobile-menu">
    <div class="ubn-mobile-menu-header">
      <button id="menu-btn-close" class="btn btn-link"><i class="fa fa-close"></i>{{t('Close')}}</button>
    </div>
    <div class="shortcuts-menu">
      {{ drupal_render(menu_tree('menu-shortcut-menu')) | raw }}
    </div>
    <ul class="menu main-menu">
      {% for link in links %}
        {{ menus.menu_item(link) }}
      {% endfor %}
      </li>
    </ul>
    <ul class="menu toplinks">
      <li class="ubn-mobile-menu-listen">
        <div class="rs_skip rsbtn rs_preserve rs_portal">
          <a class="rsbtn_play" accesskey="L" rel="nofollow" title="{{t('Listen to the page content')}}" href="https://app-eu.readspeaker.com/cgi-bin/rsent?customerid=9467&amp;lang={{readspeaker_lang}}&amp;readclass=main-cms&amp;url={{current_path}}">
            {{t('Listen')}}</a>
          </div>
      </li>
      <li class="ubn-mobile-menu-lang-switch-block">
        {{ block_render('locale', 'language') | raw }}
      </li>
    </ul>
</div>
