{# slate
  name = UBN markdown: Call to action block
  models[title] = item
  models[content] = item
  models[link_href] = item
  models[link_text] = item
  models[link_title] = item
#}
{# Spaceless needed to avoid markdown quirks where indented html is enterpreted as "code" etc #}
{% spaceless %}
<div markdown="1" class="ubn-call-to-action ub-panel-separator">
{% if not title is empty %}
  <div class="ubn-call-to-action-heading"><h2>{{ title }}</h2></div>
  <p markdown="1" class="ubn-call-to-action-content">
    {{ content|raw }}
  </p>
  {% if not link_href is empty and not link_text is empty %}
  {# Wrap in div to prevent markdown from wrapping in p (better fix possible? #}
    <div class="ubn-call-to-action-link">
      <a href="{{ link_href }}"{% if not link_title is empty %} title="{{ link_title }}"{% endif %} class="btn btn-primary">{{ link_text }}</a>
    </div>
  {% endif %}
{% endif %}
</div>
{% endspaceless %}

