{# slate
  name = UBN menu: main-menu (menu-trail)
  models[links] = item
#}
<ul class="menu-trail menu">
  {% spaceless %}
  {% for link in links %}
    {% if not loop.last %}
      <li>
        {% if link is iterable %}
          <a href="{{ link.href }}">{{ link.title }}</a>
        {% else %}
          {{ link|raw }}
        {% endif %}
        <i class="fa fa-angle-right"></i>
      </li>
    {% elseif link is iterable %}
      <li>{{ link.title }}</li>
    {% else %}
      {{ link|raw }}
    {% endif %}
  {% endfor %}
  {% endspaceless %}
</ul>
